<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html class="no-js" lang="en"><![endif]-->

<head>
  
  {{ 'Neue_Hans_Kendrick_Fonts.css' | asset_url | stylesheet_tag }}
  {% comment %}<link rel="stylesheet" type="text/css" href="Neue_Hans_Kendrick_Fonts.css">{% endcomment %}
  
  {% comment %}<link rel="stylesheet" type="text/css" href="css/jquery.datepick.css"> 
  <script type="text/javascript" src="js/jquery.plugin.js"></script> 
  <script type="text/javascript" src="js/jquery.datepick.js"></script>{% endcomment %}
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet">
  
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  {% assign tab_index = 0 %}

  {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
    <title>{{ "general.404.title" | t }} | {{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% include 'favicon' %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% include 'social-meta' %}

  {% include 'scripts-styles-header' %}
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
{% include 'sca.freegifts' %}
{% include 'bold-common' %}
{% include 'bold-ro-init' %}  
  
</head>

{% include 'additional-classes' %}
<body class="{{ bodyClasses }}">

  {% section 'general-header' %}

  <main class="main-content">

    {% unless template contains 'index' or fullBleed %}
      {% unless template contains 'slideshow' and settings.product-slideshow-layout == 'full-width' %}
        {% include 'breadcrumbs' %}
      {% endunless %}
    {% endunless %}

    {{ content_for_layout }}
  </main>

  {% section 'general-newsletter' %}

  {% section 'general-social-feeds' %}

  {% section 'general-footer' %}

  {% include 'scripts-styles-footer' %}
  
  {{ 'jquery-ui.min.js' | asset_url | script_tag }}
  {{ 'savy.min.js' | asset_url | script_tag }}
  
  <script>
    $(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 750);
        return false;
      }
    }
  });
});
  </script>

</body>
</html>
